.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 4px 4px 24px;
    border-radius: 32px;
    border: 1px solid #E0E3EB;
    margin-top: 32px;
    width: 495px;
    background-color: white;
}

.input {
    border: none;
    width: 300px;
}

.input::placeholder {
    color: #888B97;
    font-family: 'Lexend-500';
    font-size: 14px;
    line-height: 22px;
}

.btn {
    font-family: 'Lexend-600';
    font-size: 14px;
    line-height: 22px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: 32px;
    border: 1px solid var(--active-btn);
    background-color: var(--active-btn);
    color: white;
}

.arrow {
    margin-left: 4px;
}