.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 230px;
    margin-bottom: 45px;
}

.heroMain {
    width: 50%;
    margin-right: 100px;
}

.title {
    font-family: 'Lexend-600';
    font-size: 40px;
    line-height: 50px;
    color: var(--title);
    margin-bottom: 24px;
}

.titlePart {
    font-family: 'Lexend-700';
    color: transparent;
    -webkit-text-stroke: 1px var(--title);
}

.paragraph {
    font-family: 'Lexend-400';
    font-size: 16px;
    line-height: 28px;
    color: var(--text);
}

.partners {
    margin-top: 32px;
}

.list {
    display: flex;
}

.listEl:not(:last-child) {
    margin-right: 32px;
}

.heroSlider {
    position: relative;
}

.swiper {
    width: 675px;
    margin-left: 45px;
}

.houseImg {
    position: absolute;
    bottom: -40px;
}

.trianglesImg {
    position: absolute;
    top: -450px;
    left: 80px;
}