.swiper {
    height: 600px;
}

.slide {
    position: relative;
    height: 505px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgWrapper {
    border-radius: 8px;
    opacity: 0.7;
    overflow: hidden;
    width: 740px;
    height: 400px;
}

.img {
    width: 100%;
}

.slideComment {
    position: absolute;
    bottom: -50px;
    background-color: white;
    border-radius: 16px;
    width: 400px;
    padding: 32px;
}

.title {
    color: var(--title);
    font-family: 'Lexend-600';
    font-size: 20px;
    margin-bottom: 16px;
}

.text {
    color: var(--text);
    font-family: 'Lexend-400';
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
}

.commentInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lexend-500';
    font-size: 14px;
    line-height: 22px;
}

.person {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 24px;
}

.name {
    color: var(--name);
}

.position {
    color: var(--neutral);
}

.grade {
    display: flex;
    align-items: center;
}

.number {
    color: #3C4563;
    font-family: 'Lexend-600';
    font-size: 20px;
    line-height: 28px;
    margin-left: 16px;
}

@media screen and (min-width: 1200px) {
    .slideComment {
        width: 610px;
        padding: 32px;
    }
}