.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 30px;
    z-index: 1;
    width: 100%;
}

.siteNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listEl {
    font-family: 'Lexend-600';
    font-size: 10px;
    line-height: 14px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    padding: 6px 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}

.listEl:not(:last-child) {
    margin-right: 10px;
}

.listEl:hover,
.listEl:focus {
    background-color: #D1FAE5;
}

.link {
    display: flex;
    align-items: center;
    color: #F0F3FD;
    transition: color 0.3s ease;
}

.listEl:hover .link,
.listEl:focus .link {
    color: #047857;
}

.arrow {
    width: 14px;
    height: 14px;
    margin-left: 4px;
}

.dropMenu:hover .arrow,
.dropMenu:focus .arrow {
    rotate: 90deg;
}

.dropMenu:hover .dropdown,
.dropMenu:focus .dropdown {
    max-height: 300px;
}

.dropMenu {
    position: relative;
}
 
.dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #D1FAE5;
    border-radius: 26px;
    width: 100%;
    margin-top: 6px;
}
  
.dropdownItem {
    position: relative;
    padding: 0px 10px;
    width: 100%;
    margin-bottom: 8px;
}

.dropdownItem:first-child {
    margin-top: 8px;
}

.dropdownItem::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 10px;
    transition: width 0.3s ease-in-out;
}

.dropdownItem:hover::after,
.dropdownItem:focus::after {
    width: 50%
}

.btnNav {
    font-family: 'Lexend-600';
    font-size: 10px;
    line-height: 16px;
    padding: 8px 16px;
    background-color: #D1FAE5;
    color: #047857;
    border: 1px solid #D1FAE5;
    border-radius: 32px;
    margin-left: 18px;
}

@media screen and (min-width: 1200px) {
    .header {
        padding-top: 40px;
    }

    .listEl {
        font-size: 14px;
        line-height: 17.5px;
        padding: 8px 16px;
    }

    .listEl:not(:last-child) {
        margin-right: 24px;
    }

    .arrow {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }

    .dropdown {
        top: 30px;
        margin-top: 8px;
    }

    .dropdownItem {
        padding: 0px 16px;
        margin-bottom: 10px;
    }

    .dropdownItem:first-child {
        margin-top: 10px;
    }

    .dropdownItem::after {
        left: 16px;
    }

    .btnNav {
        font-size: 14px;
        line-height: 22px;
        padding: 12px 24px;
        margin-left: 56px;
    }
}