.footerMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerSocials {
    width: 320px;
}

.footerText {
    color: #626687;
    font-family: 'Lexend-400';
    font-size: 14px;
    line-height: 24px;
    margin-top: 16px;
}

.socials {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.socEl:not(:last-child) {
    margin-right: 24px;
}

.footerInfo {
    display: flex;
}

.infoEl:not(:last-child){
    margin-right: 90px;
}

.infoTitle {
    color: #0E1735;
    font-family: 'Lexend-600';
    font-size: 18px;
    margin-bottom: 24px;
}

.infoText {
    color: #626687;
    font-family: 'Lexend-400';
    font-size: 14px;
}

.infoText:not(:last-child) {
    margin-bottom: 18px;
}