.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
}

.head {
    margin-left: 40px;
}

.text {
    font-family: 'Lexend-500';
    font-size: 15px;
    line-height: 28px;
    margin-left: 5px;
}

.pretitle {
    position: relative;
    color: var(--pretitle);
    font-family: 'Lexend-500';
    font-size: 10px;
    margin-bottom: 8px;
}

.pretitle::before {
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--pretitle);
    content: "";
    height: 1px;
    width: 32px;
}

.title {
    color: var(--title);
    font-family: 'Lexend-600';
    font-size: 22px;
}

.list {
    display: flex;
    align-items: center;
}

.listEl:not(:last-child) {
    margin-right: 10px;
}

.btn {
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: none;
    color: var(--neutral);
}

.btn:hover,
.btn:focus {
    background-color: var(--btn);
    color: var(--active-btn);
}

.btn:hover .btnImg,
.btn:focus .btnImg {
    color: var(--active-btn);
}

.btnImg {
    width: 18px;
    color: var(--neutral)
}

.swiper {
    margin-left: 40px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 340px;
    height: 380px;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 24px;
}

.img {
    height: auto;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 16px;
    left: 16px;
    padding: 8px 16px;
    border-radius: 32px;
    border: none;
}

.icon {
    margin-right: 10px;
}

.popular {
    color: #EF4444;
    background-color: #FEE2E2;
}

.new {
    color: #1D4ED8;
    background-color: #DBEAFE;
}

.best {
    color: #047857;
    background-color: #D1FAE5;
}

.titleSlide {
    color: var(--name);
    font-family: 'Lexend-500';
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.price {
    color: var(--name);
    font-family: 'Lexend-500';
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
}

.person {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 16px;
}

.name {
    color: var(--name);
    font-family: 'Lexend-500';
    font-size: 18px;
    line-height: 24px
}

.city {
    color: var(--neutral);
    font-family: 'Lexend-500';
    font-size: 14px;
    line-height: 22px;
}

@media screen and (min-width: 1200px) {
    .text {
        font-size: 18px;
        margin-left: 8px;
    }

    .pretitle {
        font-size: 14px;
        margin-bottom: 12px;
    }
    
    .title {
        font-size: 32px;
    }

    .btnImg {
        width: 24px;
    }

    .listEl:not(:last-child) {
        margin-right: 32px;
    }

    .btn {
        padding: 12px 24px;
    }
}