:root {
  --title: #1B1C57;
  --text: #626687;
  --active-btn: #10B981;
  --btn: #D1FAE5;
  --pretitle: #F59E0B;
  --neutral: #888B97;
}

body {
  font-family: 'Lexend-Bold', 'Lexend-Medium', 'Lexend-Regular', 'Lexend-SemiBold';
  margin: 0;

  background-color: white;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

section {
  margin-bottom: 120px
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}